
.main{
    
    color: white;
   padding-top: 50px;
}
.About-lists {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 35px;
    gap: 35px;
}

@media(max-width:768px){
    .About-lists {
        display: flex;
        flex-direction: column;
        
    }
    
}
.main img{
    height:auto;
    width:100%;
    object-fit: cover;
}

.main h1{
    margin: 0px;
}

.About-lists ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px; 
    width: 100%;
    justify-content: center;
}

.About-lists li {
    font-size: 18px;
    margin: 0 20px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
    color: white;
}

.About-lists li:hover,
.About-lists li.active {
    color: #D4AF37;
    /* Gold color */
 }

.About-lists li:hover::after,
.About-lists li.active::after {
    content: '';
    width: 50%;
    height: 0px;
    background-color: #D4AF37;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}  
.content{
    font-size: 1.2rem;
 
    padding:25px;
    font-size: 1.2rem;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 460px;
    margin-top: 0px;
}
.content p{
padding-top: 0px;
}