/* Cart.css */
.cart-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-header {
  display: flex;
  padding-top: 100px;
  
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-details {
  flex: 3;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 20px;
}

.cart-item-details {
  margin-top:20px;
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cart-item-name {
  font-weight: bold;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.cart-item-quantity {
  text-align: center;
  font-weight: bold;
  margin-left: 30px;
  color: #555;
  margin-bottom: 5px;
}

.cart-item-price {
  font-weight: bold;
  color: #ff7f50;
  margin-left: 20px;
  min-width: 80px;
  text-align: right;
}

.cart-item button {

  border: 1px solid blue;
  background: none;
  border: none;
  color: #ff7f50;
  font-size: 1.2em;
  cursor: pointer;
}

.cart-item button:hover {
  color: #dc3545;
}

.cart-buttons {
  margin-top: 20px;
  text-align: center;
}

.cart-buttons button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-buttons button:hover {
  background-color: #c82333;
}

.cart-summary {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-summary h3 {
  color: black;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: left;
}

.cart-summary p {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.2em;
}

.cart-summary .total {
  color:black;
  font-size: 1.5em;
  font-weight: bold;
}

.checkout-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.checkout-button:hover {
  background-color: #218838;
}



.downloadsPanel{

  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.downloadsPanel__card{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 17px;
  padding: 14px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.downloadsPanel__card img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 3px;
}

.downloadsPanel__card h3{
font-size: 18px;
text-transform: capitalize;
color: #FFC100;
}

.downloadsPanel__card p{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}
.downloadsPanel__card .submitBtn{
  text-align: center;
}

.downloadsPanel__card p span{
  font-weight: 400;
  color: #fff;
}


.downloadsPanel__card *{
  margin: 0px;
  text-align: left;
}
.purchases{
  margin: 80px 0px;
}
.purchases>h3{
  text-align: center;
  font-size: 38px;
  margin-bottom: 35px;

}